* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

img {
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: rgb(240,240,240,0.9);;
    backdrop-filter: blur(2.3px);
    box-shadow: 0px 10px 17px -8px rgba(169, 169, 169, 0.58);
    transition: .5s;
    z-index: 100;

    .header_container {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        max-width: 1200px;

        .account {
            display: flex;
            gap: 19px;
            cursor: pointer;

            a {
                color: #000;
                text-align: right;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration: none;
            }
        }
    }
}

header:hover {
    padding: 24px 0;
}

.navbar a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-right: 21px;
    transition: .3s ease;
}

.navbar a:hover {
    color: #ff5353;
    text-decoration: underline;
    font-size: 17px;
}
.navbar a.active {
    color: #ff2525;
    font-size: 18px;
}



section {
    width: 100%;

    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: start;

        height: 800px;
    }
}





.management {
    margin: 0 auto;
    padding-top: 120px;

    h5 {
        color: #0047FF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    h1 {
        color: #000;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 11px;
    }
}



.my_wallets h2 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* padding: 47px 0 0 160px; */

    margin: 0 auto;
    padding-top: 47px;

}

.center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-top: 21px;
}

.my_credit_card {
    position: relative;
    width: 282px;
    height: 160px;
    border-radius: 15px;
    transition: .5s ease;
    cursor: pointer;

    box-shadow: -12px -12px 19px -10px rgba(169, 169, 169, 0.9) inset;
}

.glass {
    width: 282px;
    height: 160px;
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 15px;
    transition: .5s ease;
    cursor: pointer;
    position: absolute;
    top: -4%;
    left: -2%;
}

.glass:hover {
    transform: scale(1.01);
}


.first_span {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 19px;
    padding-left: 23px;
}

.second_span {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 78px 0 17px 23px;
}



.seeAll {
    color: #0047FF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    cursor: pointer;
}

.latest_transactions {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    padding-bottom: 32px;
}

.all_payments {
    padding-top: 21px;
    margin: 0 auto;
}


.container3 {
    margin: 0 auto;
}

table {
    /*  position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%); */
    width: 100%;
    height: 150px;
    border-collapse: collapse;
    border-spacing: 0;
    /* margin-left: 160px; */
    text-align: left;
}

thead {
    height: 55px;
}

th {
    color: #B9C0D1;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    border-bottom: 1px solid #B9C0D1;
}

tr {
    height: 50px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #B9C0D1;
    transition: all .2s ease-in;
    cursor: pointer;
    transition: .5s;
}

tr:hover {
    background-color: #ffffff;
    transform: scale(1.01);
    box-shadow: -1px 3px 18px 0px rgba(169, 169, 169, 0.9);
}

.center_btn_add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 44px;
}

.btn_add {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    background: #0047FF;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    /* margin: 44px 0 0 160px; */
}

.btn_add:hover {
    width: 500px;
    height: 56px;
    transform: scale(1.05);
    font-size: 20px;
    border: 2px solid #f5f5f5;
    box-shadow: 5px 5px 0 red;
}

.btn_add:active {
    color: #000;
    background-color: red;
    box-shadow: -5px -5px 0 #0047FF;
}

.transaction_add_btn {
    width: 175px;
    height: 35px;
    border-radius: 10px;
    background: #0047FF;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    transition: .5s ease;
    margin: 15px 0 0 0;
}

.transaction_add_btn:hover {
    font-size: 20px;
    transform: scale(1.05);
    border: 2px solid #f5f5f5;
    box-shadow: 5px 5px 0 red;
}

.transaction_add_btn:active {
    color: #000;
    background-color: red;
    box-shadow: -5px -5px 0 #0047FF;
}