* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d4bdde;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
  
}

.chart {
    padding: 32px;
    border: 2px solid #f49131;
    border-radius: 16px;
    background: #251c35;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}