* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button {
    width: 438px;
height: 56px;
flex-shrink: 0;
border-radius: 10px;
background: #0047FF;
color: #FFF;
font-family: Gilroy;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-width: 0px;
margin: 10px;
}
body {
    text-align: center;
    align-items: center;
    justify-content: center;

}