* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center h1 {
    position: relative;
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding-bottom: 38px;
    text-shadow: -15px 15px 15px rgba(0, 0, 0.2), 15px -15px 15px rgba(255, 255, 255, 0.2);
    filter: drop-shadow(0 15px 15px #fff);
}

.center h1 span {
    transition: 1.5s;
}

.center h1:hover span {
    filter: blur(20px);
    opacity: 0;
    transform: scale(2);
}

.center h1 span:nth-child(11n + 1) {
    transition-delay: 0s;
}

.center h1 span:nth-child(11n + 2) {
    transition-delay: 0.1s;
}

.center h1 span:nth-child(11n + 3) {
    transition-delay: 0s;
}

.center h1 span:nth-child(11n + 4) {
    transition-delay: 0.3s;
}

.center h1 span:nth-child(11n + 5) {
    transition-delay: 0.4s;
}

.center h1 span:nth-child(11n + 6) {
    transition-delay: 0.5s;
}

.center h1 span:nth-child(11n + 7) {
    transition-delay: 0.6s;
}

.center h1 span:nth-child(11n + 8) {
    transition-delay: 0.7s;
}

.center h1 span:nth-child(11n + 9) {
    transition-delay: 0.8s;
}

.center h1 span:nth-child(11n + 10) {
    transition-delay: 0.9s;
}

.center h1 span:nth-child(11n + 11) {
    transition-delay: 0.9s;
}

form {
    text-align: center;
}

input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: none;
}

input[type='email'] {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    padding-left: 25px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: .5s ease-in;
}

input[type='email']:hover {
    transform: scale(1.05);
    transition: .5s ease;
    font-size: 20px;
    border: 2px solid rgb(51, 51, 255);
    box-shadow: 5px 5px 0 rgb(51, 51, 255);
}

input[type='text'] {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    padding-left: 25px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: .5s ease-in;
}

input[type='text']:hover {
    transform: scale(1.05);
    transition: .5s ease;
    font-size: 20px;
    border: 2px solid rgb(51, 51, 255);
    box-shadow: 5px 5px 0 rgb(51, 51, 255);
}

input[type='password'] {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    padding-left: 25px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: .5s ease-in;
}

input[type='password']:hover {
    transform: scale(1.05);
    transition: .5s ease;
    font-size: 20px;
    border: 2px solid rgb(51, 51, 255);
    box-shadow: 5px 5px 0 rgb(51, 51, 255);
}

.signup {
    width: 438px;
    height: 56px;
    border-radius: 10px;
    background: #0047FF;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: .5s ease;
    margin-bottom: 16px;
}

.signup:hover {
    color: #000;
    background-color: #f5f5f5;
    transform: scale(1.05);
    box-shadow: -5px -5px 0 #0047FF;
}

.signup:active {
    background-color: #0047FF;
    transform: scale(1);
    box-shadow: 5px 5px 0 red;
}

.signin {
    color: #0047FF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #fff;
    text-decoration: none;
}

.error-field input, select
.error-field span {
    color: red !important;
    border-color: red !important;
    box-shadow: 5px 5px 0 red !important;
}

form .required input, select {
    position: relative;
    border-color: blue;
}

form .error-field span {
    position: relative;
}

form .error-field span::after {
    content: "";
    background-image: url(/icons/error_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 32px;
    left: 245px;
}
